// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

&led0 {
	gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
};

&led1 {
	gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
};

&led2 {
	status = "disabled";
	/delete-property/ gpios;
};

&led3 {
	status = "disabled";
	/delete-property/ gpios;
};

&button0 {
	gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button1 {
	gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button2 {
	status = "disabled";
	/delete-property/ gpios;
};

&button3 {
	status = "disabled";
	/delete-property/ gpios;
};

&pwm0 {
	status = "disabled";
};


&spi0_default {
	group1 {
		psels = <NRF_PSEL(SPIM_MOSI, 0, 23)>,
			<NRF_PSEL(SPIM_MISO, 0, 24)>,
			<NRF_PSEL(SPIM_SCK, 0, 25)>;
	};
};

&i2c0_default {
	group1 {
		psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
			<NRF_PSEL(TWIM_SCL, 0, 27)>;
	};
};

my_spi0: &spi0 {
	status = "okay";
};

/ {
	my_gpio0 {
		compatible = "gpio-keys";
		spi0ss: spi0_ss {
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
			label = "SPI0 SS";
		};
	};

	aliases {
		myspi0ss = &spi0ss;
	};
};